.u-center-text {
  text-align: center;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.u-margin-top-big {
  margin-bottom: 8rem;
}

.u-margin-top-huge {
  margin-bottom: 10rem;
}

.u-gradient-top-small {
  position: absolute;
  top: 0;
  left: 0;
  height: 8rem;
  width: 100%;
  z-index: 1;
  background-image: linear-gradient(
    to bottom,
    $color-grey-light-1,
    transparent
  );
}
